/* A pre-set font from google APIs  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-blue: #3a6cf4;
    --main-red: #ff3b3b;
    --main-dark-red: #e60000;
    --main-light-black: #1f1f1f;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

/* Scroll to Top Button */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin-bottom: 5em;
    background-color: var(--main-blue);
    color: #ffffff;
    border: none;
    border-radius: 20%;
    padding: 5px 10px;
    font-size: 1.2em;
    display: none;
    cursor: pointer;
}

.scroll-to-top:hover {
    background-color: #0a49f6;
}

/* Dark Theme Styling */
body.dark-theme {
    background-color: #121212;
    color: #fff;
}

body.dark-theme .logo,
body.dark-theme .navigation a,
body.dark-theme .info p, 
body.dark-theme .project-title,
body.dark-theme .email-info{
    color: #000000;
}
body.dark-theme .logo:hover,
body.dark-theme .navigation a:hover{
    color: #464646;
}

body.dark-theme .footer, body.dark-theme .projects{
    background-color: var(--main-light-black);
}

/* Light/Dark Theme Toggle Button */
.theme-toggle {
    position: fixed;
    top: 8px;
    right: 20px;
    background-color: var(--main-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    font-size: 1.2em;
    cursor: pointer;
    z-index: 1000;
}

.theme-toggle:hover {
    background-color: #0a49f6;
}

#header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    color: var(--main-blue);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4em;
    background-color: none;
    border-style: none;
}

.navigation a{
    color: var(--main-blue);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    --main-blue: #3c17f3; 
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(background.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#main-btn{
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.8em 1.2em;
    letter-spacing: 1px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

#main-btn:hover {
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}
.social-icons a i{
    transition: 0.5s ease;
}
.social-icons a:hover i{
    color: var(--main-blue);
    transform: scale(1.1);
}
.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 18em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 25%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info , .email-info{
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

/* email in contact section */
.email-info p{
    font-size: 0.75em;
    font-weight: 700;
}

.email-link{
    text-decoration: none;
    color: inherit;
}
/* end email in contact section */

/* projects section style */
.projects {
    background-color: #000016;
}

.projects .title{
    color: var(--main-red);
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 24em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card .icon {
    margin-top: 10px;
    text-align: center;
    font-size: 10em;
    color: var(--main-red);
    transition: transform 0.3s ease, color 0.3s ease;
}

.project-card .icon:hover {
    transform: scale(1.1); 
    color: var(--main-dark-red); 
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: var(--main-red);
}

.more-details:hover {
    color: var(--main-dark-red);
}
/* end of projects section style */

/* contact section styles */
.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}
/* end contact section styles */

/* footer styles */
.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
/* end of footer scetion style */

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
    .theme-toggle {
        top: 30px;
        right: 10px;
    }
    #header {
        padding: 10px 20px; 
        flex-direction: row; 
        align-items: flex-start; 
    }

    .logo {
        font-size: 1.2em; 
    }

    .navigation {
        display: flex;
        flex-direction: row; 
        align-items: flex-start; 
    }

    .navigation a {
        padding: 5px 5; 
        font-size: 1em; 
    }
}

@media (max-width:390px){
    body{
        font-size: 10px;
    }
    .theme-toggle {
        margin-top: 8em;
    }
}
